.section-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.content {
    display: flex;
    width: 531px;
    height: 240px;
    margin-bottom: 0;
}

.content img {
    padding-top: 20px;
    width: 85px;
    height: 85px;
}

.context {
    padding-top: 20px;
    margin-left: 30px;
}

.context h2 {
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.5em;
    margin-bottom: 20px;
    padding-right: 55px;
}

.context p {
    font-size: 1.4em;
    color: rgb(39, 38, 38);
    padding-right: 55px;
}

.context a {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color: #4C5FD5;
    margin-top: 20px;
    font-weight: 400;
    text-decoration: none;
}

.context a:hover {
    text-decoration: underline;
}



/* -------media query------- */

@media (max-width: 1077px) {
   .content {
    width: 400px;
    height: 200px;
    margin-bottom: 50px;
   }

   .content img {
     width: 65px;
     height: 65px;
   }

   .context h2 {
    font-size: 1.2em;
   }

   .context p {
    font-size: 1.0em;
   }

   .context a {
    margin-top: 10px;
   }
}




@media (max-width: 877px) {
    .section-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 160px;
    }
    .content {
        width: 500px;
        margin-bottom: 10px;
    }

    .content img {
        width: 45px;
        height: 45px;
    }
}


@media (max-width: 482px) {
    .section-container {
        margin-top: 80px;
    }
    .content {
        width: 250px;
        height: 150px;
        margin-bottom: 10px;
    }

    .context h2 {
        font-size: 0.9em;
    }

    .context p {
        font-size: 0.5em;
    }

    .context a {
        margin-top: 10px;
        font-size: 0.6em;
    }
}