.display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: black;
    color: white;
    padding: 5px 90px;
}

.right-side {
    display: flex;
    align-items: center;
}

.logo {
    width: 126px;
    height: 32px;
}

.logo:hover {
    /* this is pending project  */
    transition: 0.4s;
    color: rgba(0, 0, 0, 0.9s);
}

.line {
    border-right: 2px solid white;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.help {
    font-size: 24px;
    cursor: pointer;
}

.help:hover {
    text-decoration: underline;
}
ul {
    display: flex;
    gap: 10px;
    align-items: center;
}
ul li {
    list-style: none;
}

ul li input {
    width: 240px;
    height: 53px;
    border-radius: 10px;
    padding: 0px 20px;
    font-size: 20px;
    outline: none;
}

.get-btn {
    width: 250px;
    height: 55px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 25px;
    cursor: pointer;
}

.sign-in-btn {
    width: 140px;
    height: 55px;
    border-radius: 10px;
    background-color: #4C5FD5;
    color: white;
    font-size: 23px;
    border: none;
}

.sign-in-btn:hover {
    background-color: white;
    color: black;
    transition: 0.4s;
}

.menu-icon {
    display: none;
}



/* -----------media query ---------- */

@media (max-width: 1020px) {
    .display {
        display: flex;
        padding: 5px 50px;
    }

    .logo {
        width: 100px;
        height: 25px;
    }

    .help {
        font-size: 16px;
    }

    ul li input {
        width: 180px;
    }

    .get-btn {
        width: 170px;
        font-size: 16px;
    }

    .sign-in-btn{
        width: 100px;
        font-size: 18px;
    }
}


@media (max-width: 850px) {
    ul {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 70vh;
        background-color: #4C5FD5;
        z-index: 15;
        padding-top: 100px;
    }

    ul li input {
        width: 100px;
        height: 40px;
    }

    .get-btn {
        width: 140px;
        height: 40px;
    }

    .sign-in-btn {
        width: 140px;
        height: 40px;
        background-color: white;
        color: #4C5FD5;
    }

    .menu-icon {
        display: block;
        z-index: 16;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 25px;
        right: 10px;
        background-color: white;
    }

    .mobile-menu {
        right: -200px;
    }
}